h1{
  font-family: $pt-mono;
  font-weight: $regular;
  font-size: $xxx-large;
  line-height: $xxx-large;
  color: $black;
}

p{
  font-family: $roboto;
  font-size: $medium;
  color: $outer-space;
  font-weight: $rb-light;
}

h2{
  font-family: $pt-mono;
  font-size: $x-large;
  font-weight: $regular;
}

h3{
  font-family: $roboto;
  font-size: $large;
  color: $outer-space;
  font-weight: $rb-light;
}
