.navbar-brand{
  width: 3rem;
}

.logo {
  margin: 0;
  img {
    width: 29px;
    height: 43px;
  }
}

.navbar{
  background-color: $white;
}

 .nav-link{
  color: $spanish-gray;
  font-family: $pt-mono;
  margin: 0 1rem 0 1rem;
}
